.menu {
 @apply items-center justify-between hidden w-full md:flex md:w-auto;
}

.ul {
 @apply flex flex-col list-none font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 md:flex-row md:m-0 md:border-0 md:bg-white;
}

.li {
 @apply block text-lg text-gray-900 bg-blue-700 rounded md:bg-transparent md:text-gray-900 md:p-0;
}

.megaButton {
 @apply flex items-center cursor-pointer justify-between w-full py-0 px-3 font-medium text-gray-900 border-b border-gray-100 md:w-auto hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0;
}

.megaDropDown {
 @apply absolute grid w-auto grid-cols-2 text-sm bg-white border border-gray-100 rounded-lg shadow-md md:grid-cols-3;

 .megaDiv {
  @apply pt-4 text-gray-900 md:pb-4;
 }
 
 .megaUl {
  @apply space-y-4 list-none;
 }
 
 .megaA {
  @apply flex items-center hover:text-blue-600;
 } 
}

.megaSpan {
 @apply sr-only;
}

.rel {
 @apply relative;
}